body{
  display: flex;
  flex-direction: column;
  min-height:100vh ;
}

.container{
  flex: 1;
}

/*navbar*/
.navbar{
height:5rem;
background-color: antiquewhite
}

.fa-solid.fa-solid.fa-up-down-left-right{
  color: chartreuse;
  font-size: 2rem;
}

.nav-link {
color:blue !important;


}
/* FOOTER */
.f-info-links a { text-decoration: none;
  color: #222222;
    
}

.f-info-links a:hover{
  text-decoration: underline;
}

.f-info-links,
.f-info-socials,f-info-brand{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}



f-info-socials i {
   font-size: 1.2rem;
  margin-right: 1rem;
}

.f-info {
  text-align: center;
  height: 8rem;
  background-color: #ebebeb;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
}

/*cards*/
.listing-card {
  border: none;
  margin-bottom: 2rem;
   row-gap: 30px;
   
}

.card-img-top{
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body{
  padding: 0% !important;
}
.card-text p{
  font-weight: 400;
}

.listing-link{
  text-decoration: none;
}

/*overlay effect*/
.card-img-overlay{
  opacity: 0;
}

.card-img-overlay :hover{
  opacity: 2.5;
}


/*show  pg!!*/
.show-img{
  height:30vh ;
}

.show-card{
  padding-left: 0;
  padding-right: 0;
}